.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: relative;
  margin-top: 6rem;
  padding: 5rem;
}
.section1 {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
}

.section2 {
  border-top: 15px;
  border-color: #fff;
  border-radius: 50%;
}
.footer-columns {
  display: flex;
  flex-direction: column;
}

.footer-section {
  flex: 1;
  text-align: left;
}

.footer-section h2 {
  font-size: 21px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: montserrat, sans-serif;
}

.footer-section p {
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.footer-copyright {
  font-size: 17px;
  color: #ccc;
  position: absolute;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 17px;
}
