body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  margin: 0 auto;
  max-width: 800px; 
}

.full-width {
  width: 100%; 
}

.half-width {
  width: 50%; 
  max-width: 400px; 
  margin: 0 auto; 
}